@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
    color: dimgray;
    background-color: white;
    text-align: center;
    font-family: 'Open Sans', normal;
}


h2 {
	color: black; 
	padding-top: 20px;
        font-family: 'Merriweather', bold;
}


#rectangle{
    width:800px;
    height:200px;
    background:blue;
}


div {
	text-align; center;
}

#Menu {
	display: table;
	margin: 0 auto; 
}

a {
	text-decoration: none;

}

/* unvisited link */
a:link {
    color: royalblue;
}

/* visited link */
a:visited {
    color: royalblue;
}

/* mouse over link */
a:hover {
    color: midnightblue;
}

/* selected link */
a:active {
    color: blue;
}

li {
	list-style: none;
	float: right;
	padding: 10px;
}

p {
	clear: both;
}
