body {
    color: dimgray;
    background-color: snow;
    text-align: center;
    font-family: 'Segoe UI Light', normal;
}

h2 {
	color: black; 
	padding-top: 20px;
}

div {
	text-align; center;
}

#Menu {
	display: table;
	margin: 0 auto; 
}

a {
	text-decoration: none;

}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: gold;
}

/* selected link */
a:active {
    color: blue;
}

li {
	list-style: none;
	float: right;
	padding: 10px;
}

p {
	clear: both;
}
