body {
    color: red;
    background-color: teal;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

h1 {
	color :gold; padding-top: 70px;
}

div {
	text-align; center;
}

#Menu {
	width: 50%;
}

a {
	text-decoration: none;

}

li {
	list-style: none;
	float: right;
	padding: 10px;
}

p {
	clear: both;
}
